#app {
  display: flex;
  padding: 2px;
  height: 100%;
  //height: 100vh;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", Roboto, Ubuntu, sans-serif;
  color: #0f0f0f;
  background: #ebebeb;

  #chart-container {
    //background: #fff;
    flex: 1 1 0;
    display: flex;
    flex-direction: row;

    #chart-line-study-panel {
      background: #fff;
      width: 52px;
      height: 100%;
    }

    #chart-canvas-container {
      background: #fff;
      height: 100%;
      display: flex;
      flex: 1 1 0;
      flex-direction: column;

      #chart-canvas {
        display: flex;
        flex: 1 1 0;
        flex-direction: column;
      }

      #chart-bottom-panel {
        background: #fff;
        height: 2.8rem;
      }
    }
  }

  #chart-toolbar,
  #chart-line-study-panel,
  #chart-canvas-container {
    margin: 2px;
  }
}